# Local competition data
data/raw/*.csv
data/raw/*.zip
data/submissions/*.csv
catboost_info/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/

# Notebook checkpoints
.ipynb_checkpoints/

# Artifacts (keep folder structure only)
artifacts/**
!artifacts/README.md
!artifacts/models/
!artifacts/models/.gitkeep
!artifacts/reports/
!artifacts/reports/.gitkeep
!artifacts/submissions/
!artifacts/submissions/.gitkeep
!artifacts/logs/
!artifacts/logs/.gitkeep
